<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.member.memberMapper">
<sql id="basecolumn">
	USER_ID,USER_PW,USER_NAME, USER_BIRTH, USER_GENDER, 
	USER_EMAIL,USER_ADDR,USER_PH1, USER_PH2,interests,USER_REGIST
</sql>
<insert id="insertMember" parameterType="mem">
	insert into member (<include refid="basecolumn" />)
	values(#{userId}, #{userPw},#{userName},#{userBirth},
	#{userGender},#{userEmail},#{userAddr},#{userPh1},
	#{userPh2},#{interests},sysdate)
</insert>
<update id="joinOkUpdate" parameterType = "mem">
	update member set join_ok = #{joinOk} where user_id = #{userId} and user_email = #{userEmail} and join_ok is null
</update>
<resultMap type = "mem" id = "baseMember">
	<id column="USER_ID" jdbcType="VARCHAR" property="userId"/>
	<result column="USER_PW" jdbcType="VARCHAR" property="userPw"/>
	<result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
	<result column="USER_BIRTH" jdbcType="TIMESTAMP" property="userBirth"/>
	<result column="USER_GENDER" jdbcType="VARCHAR" property="userGender"/>
	<result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail"/>
	<result column="USER_ADDR" jdbcType="VARCHAR" property="userAddr"/>
	<result column="USER_PH1" jdbcType="VARCHAR" property="userPh1"/>
	<result column="USER_PH2" jdbcType="VARCHAR" property="userPh2"/>
	<result column="USER_REGIST" jdbcType="TIMESTAMP" property="userRegist"/>
	<result column="JOIN_OK" jdbcType="VARCHAR" property="joinOk"/>
	<result column="INTERESTS" jdbcType="VARCHAR" property="interests"/>
</resultMap>
<select id="selectMember" parameterType = "mem" resultMap="baseMember">
		select * 
		from (select rowNum rn, <include refid="basecolumn"/>
			 from(
			select <include refid="basecolumn"/> from member
			<trim prefix = "where" prefixOverrides="AND | OR">
				<if test="userPw != null">
					user_pw = #{userPw}
				</if>
				<if test="userId != null and joinOk == null">
					and user_id = #{userId} and join_ok is not null
				</if>
				<if test="userId != null and joinOk != null">
					and user_id = #{userId}
				</if>
			</trim>
			order by user_regist desc
			)
		)

</select>
<select id="memberCount" resultType="int">
	select count(*) from member 
</select>
<update id="memberUpdate" parameterType = "mem">
	update member
	<trim prefix = "set" suffixOverrides = ",">
	<if test = "userEmail != null">USER_EMAIL = #{userEmail},</if>
	<if test = "userAddr != null">USER_ADDR = #{userAddr},</if>
	<if test = "userPh1 != null">USER_PH1 = #{userPh1},</if>
	<if test = "userPh2 != null">USER_PH2 = #{userPh2},</if>
	</trim>
	where USER_ID = #{userId}
</update>
<update id="passwordUpdate" parameterType="mem">
	update member
	set user_pw = #{userPw}
	where user_id = #{userId} and user_email = #{userEmail}
</update>
</mapper>